@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-font {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.second-font{
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container-bottom {
  display: grid;
  grid-template-rows: 1fr auto;
}

.file-input-black::file-selector-button{
  background-color: #17242A;
  color: #FEFFFF;
}

.progress-black::-moz-progress-bar {
  background-color: #17242A;
}